@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

body {
  background: #e3e6e6;
}

a {
  text-decoration: none;
  color: #000;
}

/* -----NAVBAR----- */
nav {
  z-index: 99;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  width: 70px;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  max-width: 650px;
  outline: 3px solid transparent;
  border-radius: 3px;
}
.searchBar:focus-within {
  outline: 3px solid rgb(240, 165, 70);
}
.searchBar .productSearch {
  width: 600px;
  padding: 10px 20px;
  height: 50px;
  outline: 0;
  border: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.searchBar .submitBtn {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 205, 110);
  border: none;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.searchBar .submitBtn:hover {
  background: rgb(240, 165, 70);
}
.searchBar .searchIcon {
  width: 50%;
}
.btnContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.loginBtn {
  background: rgb(250, 200, 0);
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
}
.loginBtn:hover {
  background: rgb(230, 180, 0);
}
.shoppingCart {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.shoppingCart div {
  color: #fff;
  top: -3px;
  left: 53%;
  transform: translateX(-50%);
  position: absolute;
  font-size: 16px;
  font-weight: 700;
}
.shoppingCart img {
  height: 40px;
  width: 40px;
}
.userBtn {
  background: rgb(250, 200, 0);
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  position: relative;
}
.userBtn:hover {
  background: rgb(230, 180, 0);
}
.dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  width: 100%;
  border-radius: 5px;
  background: rgb(220, 220, 220);
  display: block;
}
.dropdown > button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}
.dropdown:hover {
  background: rgb(210, 210, 210);
}
/* -----HOME-PAGE------ */

/* -----CARD-LIST----- */
.card-container {
  margin: 80px 30px;
  justify-content: center;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
/* -----CARDS----- */
.wrapper {
  padding: 15px;
  background: #fff;
  margin: 20px 0;
}

.wrapper h2 {
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 10px;
}

.boxes {
  display: inline-block;
}

.boxes a {
  text-decoration: none;
  padding: 10px;
}

.thumbnail {
  border: 2px solid #ccc;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}

.thumbnail:hover {
  transform: scale(1.03);
}

/* -----LOGIN-PAGE----- */
/* -----SIGN-UP----- */

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-container .logo {
  width: 100px;
}
.login-container h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0;
}
.login-form {
  background: #fff;
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 10px;
}
.login-form label {
  font-weight: 600;
}
.login-form input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
}
.login-form .loginBtn {
  margin: 20px 0;
}
.signUpLink {
  width: 40%;
  margin: 30px 0;
  position: relative;
}
.signUpLink p {
  color: #929292;
  margin: 0 5px;
}
.signUpLink .title {
  display: flex;
  align-items: center;
}
.line {
  background: #929292;
  height: 1px;
  flex-grow: 1;
}
.signUpBtn {
  margin: 20px 0;
  background: rgb(220, 220, 220);
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: 0;
  width: 100%;
}
.signUpBtn:hover {
  background: rgb(215, 215, 215);
}
