@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

body {
  background: #e3e6e6;
}

a {
  text-decoration: none;
  color: #000;
}
/* -----LOADER----- */
.loaderContainer {
  background: #e3e6e6;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.loader {
  width: 100px;
  height: 100px;
  border: 3px solid #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: rgb(230, 180, 0) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderContainer.visible {
  opacity: 1;
}

.loaderContainer.hidden {
  opacity: 0;
}

/* -----NAVBAR----- */
nav {
  background: #000;
  width: 100%;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
nav .logo {
  width: 70px;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  max-width: 650px;
  outline: 3px solid transparent;
  border-radius: 3px;
}
.searchBar:focus-within {
  outline: 3px solid rgb(240, 165, 70);
}
.searchBar .productSearch {
  background: #e3e6e6;
  width: 600px;
  padding: 10px 20px;
  height: 50px;
  outline: 0;
  border: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.searchBar .submitBtn {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 205, 110);
  border: none;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.searchBar .submitBtn:hover {
  background: rgb(240, 165, 70);
}
.searchBar .searchIcon {
  width: 50%;
}
.btnContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.loginBtn {
  background: rgb(250, 200, 0);
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
}
.loginBtn:hover {
  background: rgb(230, 180, 0);
}
.shoppingCart {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.shoppingCart div {
  color: #e3e6e6;
  top: -3px;
  left: 53%;
  transform: translateX(-50%);
  position: absolute;
  font-size: 16px;
  font-weight: 700;
}
.shoppingCart img {
  height: 40px;
  width: 40px;
}
.userBtn {
  background: rgb(250, 200, 0);
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  position: relative;
}
.userBtn:hover {
  background: rgb(230, 180, 0);
}
.dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  width: 100%;
  border-radius: 5px;
  background: rgb(220, 220, 220);
  display: block;
}
.dropdown > button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}
.dropdown:hover {
  background: rgb(210, 210, 210);
}
/* -----HOME-PAGE------ */

/* -----CARD-LIST----- */
.cardContainer {
  justify-content: center;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
/* -----CARDS----- */
.wrapper {
  padding: 15px;
  background: #fff;
  margin: 20px 0;
}

.wrapper h2 {
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 10px;
}

.boxes {
  display: inline-block;
}

.boxes a {
  text-decoration: none;
  padding: 10px;
}

.thumbnail {
  border: 2px solid #ccc;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}

.thumbnail:hover {
  transform: scale(1.01);
}

/* -----LOGIN-PAGE----- */
/* -----SIGN-UP----- */

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-container .logo {
  width: 100px;
}
.login-container h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0;
}
.login-form {
  background: #fff;
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 10px;
}
.login-form label {
  font-weight: 600;
}
.login-form input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
}
.login-form .loginBtn {
  margin: 20px 0;
}
.signUpLink {
  width: 40%;
  margin: 30px 0;
  position: relative;
}
.signUpLink p {
  color: #929292;
  margin: 0 5px;
}
.signUpLink .title {
  display: flex;
  align-items: center;
}
.line {
  background: #929292;
  height: 1px;
  flex-grow: 1;
}
.signUpBtn {
  margin: 20px 0;
  background: rgb(220, 220, 220);
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: 0;
  width: 100%;
}
.signUpBtn:hover {
  background: rgb(215, 215, 215);
}

/* -----PRODUCT-CONTAINER----- */
.productsContainer {
  width: 100%;
  display: flex;
}

.productsContainer .sortContainer {
  background: rgb(205, 205, 205);
  min-height: 100vh;
  flex: 1.5;
  padding: 10px;
}

.productsContainer .listContainer {
  flex: 8.5;
  padding: 30px;
}

.productsContainer .productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product {
  width: 100%;
  padding: 15px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product:hover .imageContainer img {
  transform: scale(1.03);
}

.productList h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.discountedPrice {
  font-size: 1.2rem;
  color: #e44d26;
  font-weight: bold;
  margin-right: 10px;
}

.mrpPrice {
  text-decoration: line-through;
  color: #555;
}

.description {
  margin-top: 10px;
  color: #333;
}

/* -----DROPDOWN----- */
.dropDown {
  padding: 5px;
  margin: 10px 0;
}
.options {
  text-transform: uppercase;
  font-weight: 500;
  padding: 2px 0;
}
/* -----CHECKBOX----- */
.priceFilter input,
.discountFilter input {
  margin: 10px 0;
}
.priceFilter,
.discountFilter {
  margin-bottom: 10px;
}

.filterBtn {
  background: rgb(250, 200, 0);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  outline: none;
  text-transform: uppercase;
  display: block;
}
.filterBtn:hover {
  background: rgb(230, 180, 0);
}
/* -----PRODUCT-DISPLAY----- */
.productDisplayContainer {
  display: flex;
}
.productDisplayContainer > .imageContainer {
  background: #fff;
  width: 100%;
  height: calc(90vh - 60px);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.productImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.detailsContainer {
  flex: 1;
  padding: 30px;
}
.detailsContainer .productName {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 20px;
}
.detailsContainer .productDescription {
  font-size: 20px;
  margin-bottom: 20px;
}
.detailsContainer .priceContainer {
  display: flex;
  align-items: center;
}
.detailsContainer .productDiscount {
  font-weight: 300;
  font-size: 22px;
  color: #ff4d20;
  margin-right: 10px;
}
.detailsContainer .productPrice {
  font-weight: 500;
  font-size: 30px;
}
.detailsContainer .actualPrice {
  font-weight: 300;
  font-size: 14px;
  text-decoration: line-through;
  margin-bottom: 10px;
}
.productStock {
  color: rgb(113, 192, 95);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
.addToCart {
  background: rgb(250, 200, 0);
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
  text-transform: uppercase;
  display: block;
}
.addToCart:hover {
  background: rgb(230, 180, 0);
}

/* -----CART_CONTAINER----- */
.cartContainer {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cartItem {
  background: #fff;
  display: flex;
  width: 80%;
}
.cartContainer h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.detailsContainer {
}
.cartItem .btnContainer {
  margin: 10px 0;
}
.cartItem .deleteItem {
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(237, 100, 100);
  cursor: pointer;
}
